html,body {
    position: relative;
}
.h5{
    font-size:36px!important;
    font-family: 'Lobster', cursive;
    color: #F46384;
}
.card-title{
    font-family: 'Lobster', cursive;
    color: #F46384;
}

.h1{
    font-family: 'Lobster', cursive;
    color: #f6993f;
}

.h1_1{
    font-family: 'Lobster', cursive;
    color: #F46384;
}
.pt-4{
    background-color: #F4F4F4;
}
.col-md-1{
    max-width: 50px!important;
}
.product-card{
    background: #FFFFFF;
    border: 1px solid #F4F3F3;
    border-radius: 15px;
}
.btn-secondary{
    margin: 1%!important;
    background-color: #f6993f!important;
    border-radius: 10px!important;
}
.product-card__title{
    font-size: 32px;
    font-family: 'Lobster', cursive;
    color: #F46384;
}
.product-card__price{
    font-size: 32px;
    font-family: 'Lobster', cursive;
    color: #f6993f;
}
.product-card__image{
    border-radius: 15px;
}
.footer_line_1{
    margin: 0px
}
#button_del{
    background-color: #f6993f!important;
}
#button_add {
    margin: 10%!important;
}
.btn-danger{
    margin: 1%!important;
    background-color: #F46384!important;
    border-radius: 10px!important;
}
.h1_d{
    font-family: 'Lobster', cursive;
}
.form-control{
    border-color: #ffed4a!important;
}
